*{
	margin: 0;
	padding: 0;
}
header{
	height:150px;
	width: 100%;
	background-color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	
}
#logo{
     width: 20%;
     height: 100%;
     display: flex;
	justify-content: center;
	align-items: center;

}
#naslov{
     width: 80%;
     height: 100%;
     display: flex;
	justify-content: center;
	align-items: center; 

}
h1 {
	font-size: 20px;
	color: white;
	margin:0;
	padding: 0;
}
img {
	height: 50px;
	width: auto;
	

}

.registracija{
	margin-top: 10%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
#prvi{
	font-size: 100px;
	color: orange;
}

#drugi{
	font-size: 40px;
	color: red;
}
.povratak{
	margin-top: 5%;
	margin-left: 5%;
	padding: 1em;
}